:root {
    --primary-color: #1e293b;
    --secondary-color: #f97316;
    --text-main: #1f2937;
    --bg-color: #f3f4f6;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-main);
}

button {
    transition: opacity 0.2s;
}

button:active {
    opacity: 0.8;
}